*._
*.ipynb_checkpoints
*.DS_Store
FinalDataset/._URL
*.gitignore
._FinalDataset
FinalDataset/._All.csv
FinalDataset/._All_BestFirst.csv
FinalDataset/._All_BestFirst_test.csv
FinalDataset/._All_Infogain.csv
FinalDataset/._All_Infogain_test.csv
FinalDataset/._Defacement.csv
FinalDataset/._Defacement_BestFirst.csv
FinalDataset/._Defacement_Infogain.csv
FinalDataset/._Defacement_Infogain_test.csv
FinalDataset/._Malware.csv
FinalDataset/._Malware_BestFirst.csv
FinalDataset/._Malware_Infogain.csv
FinalDataset/._Malware_Infogain_test.csv
FinalDataset/._Phishing.csv
FinalDataset/._Phishing_BestFirst.csv
FinalDataset/._Phishing_Infogain.csv
FinalDataset/._Phishing_Infogain_test.csv
FinalDataset/._Spam.csv
FinalDataset/._Spam_BestFirst.csv
FinalDataset/._Spam_BestFirst_test.csv
FinalDataset/._Spam_Infogain.csv
FinalDataset/._Spam_Infogain_test.csv
FinalDataset/URL/._Benign_list_big_final.csv
FinalDataset/URL/._DefacementSitesURLFiltered.csv
FinalDataset/URL/._Malware_dataset.csv
FinalDataset/URL/._phishing_dataset.csv
FinalDataset/URL/._spam_dataset.csv
