*._
*.ipynb_checkpoints
*.DS_Store
FinalDataset/._URL
*.gitignore
._FinalDataset
FinalDataset/._All.csv
FinalDataset/._All_BestFirst.csv
FinalDataset/._All_BestFirst_test.csv
FinalDataset/._All_Infogain.csv
FinalDataset/._All_Infogain_test.csv
FinalDataset/._Defacement.csv
FinalDataset/._Defacement_BestFirst.csv
FinalDataset/._Defacement_Infogain.csv
FinalDataset/._Defacement_Infogain_test.csv
FinalDataset/._Malware.csv
FinalDataset/._Malware_BestFirst.csv
FinalDataset/._Malware_Infogain.csv
FinalDataset/._Malware_Infogain_test.csv
FinalDataset/._Phishing.csv
FinalDataset/._Phishing_BestFirst.csv
FinalDataset/._Phishing_Infogain.csv
FinalDataset/._Phishing_Infogain_test.csv
FinalDataset/._Spam.csv
FinalDataset/._Spam_BestFirst.csv
FinalDataset/._Spam_BestFirst_test.csv
FinalDataset/._Spam_Infogain.csv
FinalDataset/._Spam_Infogain_test.csv
FinalDataset/URL/._Benign_list_big_final.csv
FinalDataset/URL/._DefacementSitesURLFiltered.csv
FinalDataset/URL/._Malware_dataset.csv
FinalDataset/URL/._phishing_dataset.csv
FinalDataset/URL/._spam_dataset.csv
scripts/._Benign_list_big_final.csv
scripts/._data_creation_v2.py
scripts/._DefacementSitesURLFiltered.csv
scripts/._Malware_dataset.csv
scripts/._phishing_dataset.csv
scripts/._spam_dataset.csv
FinalDataset/._URL_features.csv
Notebook/._nn_Training.ipynb
._requirements.txt
scripts/__pycache__/data_creation_v3.cpython-38.pyc
scripts/._data_creation_v3.py
scripts/._extract_Features.py
scripts/__pycache__/data_creation_v3.cpython-39.pyc
FinalDataset/modified/._All.csv
FinalDataset/modified/._All_BestFirst.csv
FinalDataset/modified/._All_BestFirst_test.csv
FinalDataset/modified/._All_Infogain.csv
FinalDataset/modified/._All_Infogain_test.csv
FinalDataset/modified/._Defacement.csv
FinalDataset/modified/._Defacement_BestFirst.csv
FinalDataset/modified/._Defacement_Infogain.csv
FinalDataset/modified/._Defacement_Infogain_test.csv
FinalDataset/modified/._Malware.csv
FinalDataset/modified/._Malware_BestFirst.csv
FinalDataset/modified/._Malware_Infogain.csv
FinalDataset/modified/._Malware_Infogain_test.csv
FinalDataset/modified/._Phishing.csv
FinalDataset/modified/._Phishing_BestFirst.csv
FinalDataset/modified/._Phishing_Infogain.csv
FinalDataset/modified/._Phishing_Infogain_test.csv
FinalDataset/modified/._Spam.csv
FinalDataset/modified/._Spam_BestFirst.csv
FinalDataset/modified/._Spam_BestFirst_test.csv
FinalDataset/modified/._Spam_Infogain.csv
FinalDataset/modified/._Spam_Infogain_test.csv
FinalDataset/._Malware_features.csv
FinalDataset/._feature_data.csv
FinalDataset/URL/._URL_features.csv
FinalDataset/._feature.csv
scripts/._DenseNN_Train.py
FinalDataset/._Feature_Corr.png
FinalDataset/._Feature_Plot.png
GUI/._data_creation_v3.py
GUI/._predict.py
GUI/__pycache__/data_creation_v3.cpython-38.pyc
scripts/._predict.py
